.gallery {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
}

.gallery-swiper {
    width: 100%;
    height: 80%;
}

.gallery-swiper.hide-swiper {
    display: none;
}
  
.gallery-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 180px !important;
    width: 180px !important;
    margin: 0.2rem !important;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border: solid 1px gray;
    box-shadow: 1px 1px 6px gray;
}

.gallery-slide img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute !important;
    transform: translateY(10px) !important;
}

.home-h1 {
    height: auto;
}

@media screen and (max-device-width: 1200px) {
    .gallery-swiper {
        height: 80vh;
    }
}