.soc-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 999;
}

.soc-link {
    color: white;
}

.soc-link:hover {
    color: red;
    transition: all 300ms;
}